// Input
// https://yalter.github.io/niri/Configuration%3A-Input.html
input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    mouse {
        accel-profile "flat"
        scroll-factor 2
    }

    touchpad {
        tap
        natural-scroll
    }

    warp-mouse-to-focus
    focus-follows-mouse
}

// Cursor
// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html#cursor
cursor {
    xcursor-theme "Bibata-Modern-Amber"
    xcursor-size 20
}

// Outputs
// https://yalter.github.io/niri/Configuration%3A-Outputs.html
output "DP-3" {
    mode "2560x1440@144.000"
    scale 1
    variable-refresh-rate
    focus-at-startup
}

// Keybindings
// https://yalter.github.io/niri/Configuration%3A-Key-Bindings.html
binds {
    MOD+SLASH                           { show-hotkey-overlay; }
    
    // Apps
    MOD+RETURN                          hotkey-overlay-title="Open Terminal: kitty" { spawn-sh "kitty"; }
    MOD+KP_Enter                        hotkey-overlay-title="Open Terminal: kitty" { spawn-sh "kitty"; }
    MOD+SPACE                           hotkey-overlay-title="Open App Launcher: vicinae" { spawn-sh "vicinae toggle"; }
    MOD+B                               hotkey-overlay-title="Open Browser: zen" { spawn-sh "zen-browser"; }
    // MOD+B                               hotkey-overlay-title="Open Browser: zen" { spawn-sh "~/.config/niri/scripts/xwayland_zen.fish"; }
    MOD+CTRL+ALT+L                      hotkey-overlay-title="Lock Screen: noctalia lock" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    MOD+COMMA                           hotkey-overlay-title="Noctalia setting" { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    MOD+PERIOD                          hotkey-overlay-title="Noctalia control center" { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    MOD+E                               hotkey-overlay-title="File Manager: Dolphin" { spawn-sh "dolphin"; }
    MOD+C                               hotkey-overlay-title="VS Code" { spawn-sh "~/.config/niri/scripts/xwayland_code.fish"; }
    MOD+V                               hotkey-overlay-title="Clipboard History: vicinae" { spawn-sh "vicinae vicinae://extensions/vicinae/clipboard/history"; }
    MOD+W                               hotkey-overlay-title="Switch Window" { spawn-sh "vicinae vicinae://extensions/vicinae/wm/switch-windows"; }
    MOD+T                               hotkey-overlay-title="Task Manager: btop++" { spawn-sh "kitty btop"; }
    
    // Audio Controls
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.5"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05- -l 1.5"; }
    SHIFT+XF86AudioRaiseVolume          allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1"; }
    SHIFT+XF86AudioLowerVolume          allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05- -l 1"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "playerctl previous"; }
    MOD+SHIFT+A                         hotkey-overlay-title="Select default audio sink" { spawn-sh "~/.config/niri/scripts/vicinae_audio.fish"; }
    
    // Brightness Controls
    XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    // Window Management
    MOD+Q                               { close-window; }
    MOD+R                               { switch-preset-column-width; }

    MOD+LEFT                            { focus-column-left; }
    MOD+H                               { focus-column-left; }
    MOD+RIGHT                           { focus-column-right; }
    MOD+L                               { focus-column-right; }
    MOD+UP                              { focus-window-up; }
    MOD+K                               { focus-window-up; }
    MOD+DOWN                            { focus-window-down; }
    MOD+J                               { focus-window-down; }

    MOD+SHIFT+LEFT                      { move-column-left; }
    MOD+SHIFT+H                         { move-column-left; }
    MOD+SHIFT+RIGHT                     { move-column-right; }
    MOD+SHIFT+L                         { move-column-right; }
    MOD+SHIFT+UP                        { move-window-up; }
    MOD+SHIFT+K                         { move-window-up; }
    MOD+SHIFT+DOWN                      { move-window-down; }
    MOD+SHIFT+J                         { move-window-down; }

    MOD+HOME                            { focus-column-first; }
    MOD+END                             { focus-column-last; }
    MOD+SHIFT+HOME                      { move-column-to-first; }
    MOD+SHIFT+END                       { move-column-to-last; }

    MOD+CTRL+LEFT                       { focus-monitor-left; }
    MOD+CTRL+RIGHT                      { focus-monitor-right; }
    MOD+CTRL+UP                         { focus-monitor-up; }
    MOD+CTRL+DOWN                       { focus-monitor-down; }

    MOD+SHIFT+CTRL+LEFT                 { move-column-to-monitor-left; }
    MOD+SHIFT+CTRL+RIGHT                { move-column-to-monitor-right; }
    MOD+SHIFT+CTRL+UP                   { move-column-to-monitor-up; }
    MOD+SHIFT+CTRL+DOWN                 { move-column-to-monitor-down; }
    
    MOD+ALT+LEFT                        { consume-or-expel-window-left; }
    MOD+ALT+H                           { consume-or-expel-window-left; }
    MOD+ALT+RIGHT                       { consume-or-expel-window-right; }
    MOD+ALT+L                           { consume-or-expel-window-right; }

    // Workspace Management
    MOD+WHEELSCROLLDOWN                 cooldown-ms=150 { focus-workspace-down; }
    MOD+WHEELSCROLLUP                   cooldown-ms=150 { focus-workspace-up; }
    MOD+CTRL+WHEELSCROLLDOWN            cooldown-ms=150 { move-column-to-workspace-down; }
    MOD+CTRL+WHEELSCROLLUP              cooldown-ms=150 { move-column-to-workspace-up; }
    MOD+I                               cooldown-ms=150 { focus-workspace-down; }
    MOD+U                               cooldown-ms=150 { focus-workspace-up; }

    MOD+WHEELSCROLLRIGHT                { focus-column-right; }
    MOD+WHEELSCROLLLEFT                 { focus-column-left; }
    MOD+CTRL+WHEELSCROLLRIGHT           { move-column-right; }
    MOD+CTRL+WHEELSCROLLLEFT            { move-column-left; }

    MOD+SHIFT+WHEELSCROLLDOWN           { focus-column-right; }
    MOD+SHIFT+WHEELSCROLLUP             { focus-column-left; }
    MOD+CTRL+SHIFT+WHEELSCROLLDOWN      { move-column-right; }
    MOD+CTRL+SHIFT+WHEELSCROLLUP        { move-column-left; }

    MOD+1                               { focus-workspace 1; }
    MOD+2                               { focus-workspace 2; }
    MOD+3                               { focus-workspace 3; }
    MOD+4                               { focus-workspace 4; }
    MOD+5                               { focus-workspace 5; }
    MOD+6                               { focus-workspace 6; }
    MOD+7                               { focus-workspace 7; }
    MOD+8                               { focus-workspace 8; }
    MOD+9                               { focus-workspace 9; }

    MOD+SHIFT+1                         { move-column-to-workspace 1; }
    MOD+SHIFT+2                         { move-column-to-workspace 2; }
    MOD+SHIFT+3                         { move-column-to-workspace 3; }
    MOD+SHIFT+4                         { move-column-to-workspace 4; }
    MOD+SHIFT+5                         { move-column-to-workspace 5; }
    MOD+SHIFT+6                         { move-column-to-workspace 6; }
    MOD+SHIFT+7                         { move-column-to-workspace 7; }
    MOD+SHIFT+8                         { move-column-to-workspace 8; }
    MOD+SHIFT+9                         { move-column-to-workspace 9; }

    MOD+SHIFT+TAB                       { focus-workspace-previous; }

    // Layout Management
    MOD+CTRL+F                          { expand-column-to-available-width; }
    MOD+SHIFT+C                         { center-column; }
    MOD+CTRL+C                          { center-visible-columns; }
    MOD+MINUS                           { set-column-width "-5%"; }
    MOD+EQUAL                           { set-column-width "+5%"; }
    MOD+SHIFT+MINUS                     { set-window-height "-5%"; }
    MOD+SHIFT+EQUAL                     { set-window-height "+5%"; }

    // Window States
    MOD+CTRL+T                          { toggle-window-floating; }
    MOD+CTRL+SHIFT+T                    { switch-focus-between-floating-and-tiling; }
    MOD+F                               { maximize-column; }
    MOD+SHIFT+F                         { fullscreen-window; }
    MOD+SHIFT+W                         { toggle-column-tabbed-display; }
    MOD+TAB                             { focus-window-down-or-top; }

    // Screenshots
    MOD+SHIFT+S                         { screenshot; }
    MOD+PRINT                           { screenshot-screen; }
    MOD+SHIFT+PRINT                     { screenshot-window; }

    // Emergency Escape Key
    MOD+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Misc
    CTRL+ALT+DELETE                     { quit; }
    MOD+SHIFT+P                         { power-off-monitors; }
    MOD+O                               repeat=false { toggle-overview; }
}

// Startups
// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html#spawn-at-startup
spawn-sh-at-startup "dbus-update-activation-environment --systemd --all"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=secrets"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "~/.config/niri/scripts/autolock.fish"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "~/.config/niri/scripts/personal_autostart.fish"
spawn-sh-at-startup "~/.config/niri/scripts/xwayland_discord.fish &"
spawn-sh-at-startup "~/.config/niri/scripts/xwayland_steam.fish &"

// Disable window decorations
// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html#prefer-no-csd
prefer-no-csd

// Layout
// https://yalter.github.io/niri/Configuration%3A-Layout.html
layout {
    // Noctalia Stationary Wallpaper
    // background-color "transparent"
    
    gaps 4
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66666
        proportion 0.75
    }

    border {
        width 4
        urgent-color "#dd2d2dff"
        active-gradient from="#cc80ffff" to="#bbddffff" angle=75 in="oklch longer hue"
        inactive-color "#505050"
    }

    focus-ring {
        off
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }

    tab-indicator {
        width 8
        gap 8
        gaps-between-tabs 8
        length total-proportion=0.5
        position "bottom"
        place-within-column
        active-gradient from="#bbddffff" to="#cc80ffff" angle=75 in="oklch longer hue"
        inactive-color "#505050"
    }
    
    insert-hint {
        // off
        color "#cc80ffff"
        gradient from="#cc80ff67" to="#bbddff49" angle=75 in="oklch longer hue" relative-to="workspace-view"
    }
}

// Overview Settings
overview {
    workspace-shadow {
        // Noctalia Stationary Wallpaper
        // off
    }
}

// Animations
// https://yalter.github.io/niri/Configuration%3A-Animations.html
animations {
    workspace-switch {
        spring damping-ratio=0.7 stiffness=500 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 150
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.75 stiffness=500 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.8 stiffness=400 epsilon=0.0001
    }
}

// Named Workspaces
workspace "1"
workspace "2"

// Window Rules
// https://yalter.github.io/niri/Configuration%3A-Window-Rules.html
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true // noctalia-shell also need this?
}

// KDE portal file picker
window-rule {
    match app-id="org.freedesktop.impl.portal.desktop.kde"
    open-floating true
    default-column-width { fixed 720; }
    default-window-height { fixed 560; }
}

window-rule {
    match app-id=r#".*cloud-drive-ui.*"#
    open-floating true
}

window-rule {
    match app-id="zen"
    exclude title=r#"^Picture-in-Picture$"#
    default-column-width { fixed 1905; }
}

window-rule {
    match app-id="zen" title=r#"^Picture-in-Picture$"#
    open-floating true // Always float Zen PiP windows
}

window-rule {
    match app-id=r#"code$"#
    // open-maximized-to-edges true // TODO: available on next niri release
}

window-rule {
    match app-id=r#"kitty$"#
    // open-maximized-to-edges true // TODO: available on next niri release
}

window-rule {
    match app-id="steam"
    exclude title=r#"^notificationtoasts_\d+_desktop$"#
    open-on-workspace "2"
}

window-rule {
    match app-id="discord"
    open-on-workspace "2"
}

// Steam Notification Toasts Fix
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// Environment Variables
// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html#environment
environment {
    DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QS_ICON_THEME "Papirus-Dark"
}

// Hotkey Overlay
// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html#hotkey-overlay
hotkey-overlay {
    skip-at-startup
}

// Layer Rules
// https://yalter.github.io/niri/Configuration%3A-Layer-Rules.html

// Noctalia Blurred Overview Wallpaper
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// Noctalia Stationary Wallpaper
// layer-rule {
//   match namespace="^noctalia-wallpaper*"
//   place-within-backdrop true
// }

// Debug Options
// https://yalter.github.io/niri/Configuration%3A-Debug-Options.html
// noctalia-shell need this
debug {
    honor-xdg-activation-with-invalid-serial
}
